*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body,
html {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
}

a:focus {
  outline: none !important;
}

.loader{
  animation: loader 15s linear;
}

@keyframes loader {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
